@tailwind base;
@tailwind components;
@tailwind utilities;

.spc{
    margin-right: 20%;
}
.sp{
    margin-top: 10%;
    margin-bottom: 10%;
}
.input{
    border-color: black;
}
.gr{
    margin-left: 3%;
}
.footer {
    background-color: gray;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}


.showing-image {
   
    background-image: url("../img/1books.jpg");
    background-size: cover;
    background-position: center;
    border: 3px solid black;
    border-radius: 25px;
   animation: change 30s infinite ease-in-out;
}
@keyframes change {
    20% {
        background-image: url("../img/2ndbook.jpg");
    }
    40% {
        background-image: url("../img/3rdbook.jpg");
    }
    60% {
        background-image: url("../img/4thbook.jpg");
    }
    80% {
        background-image: url("../img/5thbook.jpg");
    }
    100% {
        background-image: url("../img/1books.jpg");
    }
}